<nav class="navbar navbar-expand-lg navbar-light bg-light p-2">
  <div class="container-fluid justify-content-between">

    <a href="/" class="navbar-brand text-decoration-none text-dark d-flex align-items-center">
      <b class="bonheur-royale-regular"><strong>7</strong>Laws</b>
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a href="/solo-hombres.html" class="nav-link">Solo hombres</a>
        </li>
        <li class="nav-item">
          <a href="/interpretation.html" class="nav-link">Interpretación de sueños</a>
        </li>
        <li class="nav-item">
          <a href="/siete-leyes.html" class="nav-link">Siete Leyes</a>
        </li>
        <li class="nav-item">
          <a href="/bibliography.html" class="nav-link">Bibliografía general</a>
        </li>
      </ul>
    </div>

  </div>
</nav>
